<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rabotkana5min"
        tools:targetApi="31">
        <activity
            android:name=".Onboard_one"
            android:exported="false" />
        <activity
            android:name=".Onboard_two"
            android:exported="false" />
        <activity
            android:name=".Onboard_three"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Onboard_four"
            android:exported="false" />
        <activity
            android:name=".Onboard_five"
            android:exported="false" />
        <activity
            android:name=".Onboard_six"
            android:exported="false" />
        <activity
            android:name=".Onboard_seven"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>